extends templates/base
block extra_css
block content
    include modules/home_page/features
    include modules/home_page/testimonials
    include modules/home_page/blog
    include modules/home_page/subscribe
    include modules/home_page/contact
block extra_js