@charset "UTF-8";

// 1. Configuration and helpers

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// 2. Vendors

// @import "vendor/normalize";
// @import "vendor/bootstrap";
// @import "vendor/scrollbars";

// 3. Base stuff

@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "base/helpers";

// 4. Layout-related sections

@import "layout/header";
@import "layout/footer";
@import "layout/breadcrumbs";
@import "layout/form";

// 5. Components

@import "components/scrollbar";
@import "components/button";
@import "components/tables";
@import "components/forms";
@import "components/steps";

// 6. Page-specific styles

@import "pages/index";

// 7. Themes

@import "themes/default";
