    
    
// Our Blog Section
.blog.section.section-invert.py-4
  h3.section-title.text-center.m-5 Realizacje
  .container
    .py-4
      .row
        .card-deck
          .col-md-12.col-lg-4
            .card.mb-4
              img.card-img-top(src='http://via.placeholder.com/500x300/00b8d8/ffffff?text=placeholder', alt='Card image cap')
              .card-body
                h4.card-title Realizacja 1
                p.card-text
                  | He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
                a.btn.btn-outline-info.btn-pill(href='#') więcej →
          .col-md-12.col-lg-4
            .card.mb-4
              img.card-img-top(src='http://via.placeholder.com/500x300/00b8d8/ffffff?text=placeholder', alt='Card image cap')
              .card-body
                h4.card-title Realizacja 2
                p.card-text
                  | He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
                a.btn.btn-outline-info.btn-pill(href='#') więcej →
          .col-md-12.col-lg-4
            .card.mb-4
              img.card-img-top(src='http://via.placeholder.com/500x300/00b8d8/ffffff?text=placeholder', alt='Card image cap')
              .card-body
                h4.card-title Realizacja 3
                p.card-text
                  | He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
                a.btn.btn-outline-info.btn-pill(href='#') więcej →
// / Our Blog Section