// Features Section
#app-features.app-features.section
  .container-fluid
    .row
      .app-screenshot.col-lg-4.col-md-12.col-sm-12.px-0.py-5
        img#screenshot.mt-auto.mb-auto(src='', alt='App Screenshot - Shards App Promo Demo Page')
      // App Features Wrapper
      .app-features-wrapper.col-lg-4.col-md-6.col-sm-12.py-5.mx-auto
        .container
          h3.section-title.underline--left.my-5 Oferta
          .feature.py-4.d-flex
            .icon.text-white.bg-info.mr-5
              i.fa.fa-refresh
            div
              h5 Pozycja 1
              p
              | Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.
              button.btn-pill.btn.btn-sm.btn-info.btn-block.mt-3 więcej
          .feature.py-4.d-flex
            .icon.text-white.bg-info.mr-5
              i.fa.fa-shield
            div
              h5 Pozycja 2
              p
              | Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.
              button.btn-pill.btn.btn-sm.btn-info.btn-block.mt-3 więcej
          .feature.py-4.d-flex
            .icon.text-white.bg-info.mr-5
              i.fa.fa-share
            div
              h5 Pozycja 3
              p
              | Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.
              button.btn-pill.btn.btn-sm.btn-info.btn-block.mt-3 więcej
          .feature.py-4.d-flex
            .icon.text-white.bg-info.mr-5
              i.fa.fa-globe
            div
              h5 Pozycja 4
              p
              | Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.
              button.btn-pill.btn.btn-sm.btn-info.btn-block.mt-3 więcej
// / Features Section