// Subscribe Section
.subscribe.section.bg-dark.py-4
  h3.section-title.text-center.text-white.m-5 Newsletter
  p.text-muted.col-md-6.text-center.mx-auto
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At voluptatum libero ipsum eius rem, facere deserunt repudiandae autem sapiente dolores.
  form.form-inline.d-table.mb-5.mx-auto(action='/')
    .form-group
      input.form-control.border-0.mr-3.mb-2.mr-sm-0(type='text', placeholder='Adres e-mail')
      button.btn.btn-info.mb-2.ml-2(type='submit') Dołącz
// / Subscribe Section