// Testimonials Section
.testimonials.section.py-4
  h3.section-title.text-center.m-5 Testimonials
  .container.py-5
    .row
      .col-md-4.testimonial.text-center
        .avatar.rounded-circle.with-shadows.mb-3.ml-auto.mr-auto
          img.w-100(src='http://via.placeholder.com/500/00b8d8/ffffff?text=placeholder', alt='Testimonial Avatar')
        h5.mb-1 Osbourne Tranter
        span.text-muted.d-block.mb-2 CEO at Megacorp
        p
          | Vivamus quis ex mattis, gravida erat a, iaculis urna. Proin ac eleifend tortor. Nunc in augue eget enim venenatis viverra.
      .col-md-4.testimonial.text-center
        .avatar.rounded-circle.with-shadows.mb-3.ml-auto.mr-auto
          img.w-100(src='http://via.placeholder.com/500/00b8d8/ffffff?text=placeholder', alt='Testimonial Avatar')
        h5.mb-1 Darrin Ollie
        span.text-muted.d-block.mb-2 CEO at Megacorp
        p
          | Nullam eu ligula facilisis, commodo velit non, vulputate dolor. Aenean congue euismod vestibulum.
      .col-md-4.testimonial.text-center
        .avatar.rounded-circle.with-shadows.mb-3.ml-auto.mr-auto
          img.w-100(src='http://via.placeholder.com/500/00b8d8/ffffff?text=placeholder', alt='Testimonial Avatar')
        h5.mb-1 Quinton Bruce
        span.text-muted.d-block.mb-2 CEO at Megacorp
        p
          | Aenean imperdiet ultrices tortor id convallis. Donec id metus magna. Morbi pretium odio faucibus blandit gravida.
// / Testimonials Section