.container
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.pt-4.px-0
    a.navbar-brand(href='#')
      img#logo.mr-2(src='', alt='Shards - Agency Landing Page')
      |               IMMITIS
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Oferta
        li.nav-item
          a.nav-link(href='#') Realizacje
        li.nav-item
          a.nav-link(href='#') Serwis
        li.nav-item
          a.nav-link(href='#') Kontakt
      // Social Icons
      //- ul.header-social-icons.navbar-nav.ml-auto
      //-   li.nav-item
      //-     a.nav-link(href='https://twitter.com/DesignRevision')
      //-       i.fa.fa-twitter
      //-   li.nav-item
      //-     a.nav-link(href='https://www.facebook.com/designrevision')
      //-       i.fa.fa-facebook
      //-   li.nav-item
      //-     a.nav-link(href='https://dribbble.com/hisk')
      //-       i.fa.fa-dribbble
      //-   li.nav-item
      //-     a.nav-link(href='https://github.com/designrevision')
      //-       i.fa.fa-github
  // / Navigation
// .container
